<!DOCTYPE html>
<html lang="en" ng-app="ticketApp">
  <head>
    <meta charset="UTF-8" />
    <title>Ticket Booking Form and e-Ticket</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
  </head>
  <body>
    <div ng-controller="TicketController">
      <h2>Customer Information</h2>
      <form ng-submit="generateTicket()">
        <label>Name: <input ng-model="customer.name" required /></label><br />
        <label>Address: <input ng-model="customer.address" required /></label
        ><br />
        <label
          >Contact No.: <input ng-model="customer.contactNo" required /></label
        ><br />
        <label>Gender: <input ng-model="customer.gender" required /></label
        ><br />
        <label
          >Date of Booking:
          <input type="date" ng-model="customer.bookingDate" required /></label
        ><br />
        <label
          >Date of Journey:
          <input type="date" ng-model="customer.journeyDate" required /></label
        ><br />
        <label
          >No. of Passengers:
          <input
            type="number"
            ng-model="customer.numOfPassengers"
            required /></label
        ><br />
        <label
          >Passenger Names (comma separated):
          <input ng-model="customer.passengerNames" required /></label
        ><br />
        <button type="submit">Generate e-Ticket</button>
      </form>

      <div ng-if="ticket">
        <h2>e-Ticket</h2>
        <p>Name: {{ ticket.name }}</p>
        <p>Address: {{ ticket.address }}</p>
        <p>Contact No.: {{ ticket.contactNo }}</p>
        <p>Gender: {{ ticket.gender }}</p>
        <p>Date of Booking: {{ ticket.bookingDate }}</p>
        <p>Date of Journey: {{ ticket.journeyDate }}</p>
        <p>No. of Passengers: {{ ticket.numOfPassengers }}</p>
        <p>Passenger Names: {{ ticket.passengerNames }}</p>
      </div>
    </div>

    <script>
      var ticketApp = angular.module("ticketApp", []);

      ticketApp.controller("TicketController", [
        "$scope",
        function ($scope) {
          $scope.customer = {};
          $scope.ticket = null;

          $scope.generateTicket = function () {
            // Create a ticket based on customer information
            $scope.ticket = {
              name: $scope.customer.name,
              address: $scope.customer.address,
              contactNo: $scope.customer.contactNo,
              gender: $scope.customer.gender,
              bookingDate: $scope.customer.bookingDate,
              journeyDate: $scope.customer.journeyDate,
              numOfPassengers: $scope.customer.numOfPassengers,
              passengerNames: $scope.customer.passengerNames.split(","),
            };
          };
        },
      ]);
    </script>
  </body>
</html>
