<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  </head>
  <body ng-app="myApp">
    <div ng-controller="myController">
      <h2>undergraduate Cource</h2>
      <ul>
        <li ng-repeat="x in undergraduate">{{x}}</li>
      </ul>

      <h2>postgraduate cource</h2>
      <ul>
        <li ng-repeat="x in postgraduate">{{x}}</li>
      </ul>
    </div>
    <script>
      var app = angular.module("myApp", []);

      app.controller("myController", function ($scope) {
        $scope.undergraduate = ["BBA-CA", "BCA", "BSC"];

        $scope.postgraduate = ["MBA", "MSC", "MCA"];
      });
    </script>
  </body>
</html>
